<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet"/>
  </head>
  <body>
    <div class="main-container">
      <div class="left-container">
        <h4>WELCOME TO</h4>
        <h3>V-TUBE</h3>
        <div class="login-instn">
          <p>Login to access dashboard</p>
          <div class="input-section signup">
            <a routerLink="/Registration"> Create New Account </a>
          </div>
        </div>
      </div>
      <div class="right-container">
        <form [formGroup]="LoginForm" class="login-form">
          <div class="logo-section"><img src="{{ imageSrc }}" /></div>

          
          <div class="input-section"><span aria-hidden="true">Username</span>
            <input type="text" required formControlName="UserName" name="UserName" placeholder="Enter userName"/>
            <div class="err" *ngIf="submitted && f['UserName'].errors">
              <div *ngIf="f['UserName'].errors['required']">Username is required</div>
            </div>
          </div>
          <div class="input-section"><span aria-hidden="true">Password</span>
            <input type="Password" required formControlName="Password" name="Password" placeholder="Enter password"/>
            <div class="err" *ngIf="submitted && f['Password'].errors">
              <div *ngIf="f['Password'].errors['required']">Password is required</div>
            </div>
          </div>
          <div class="input-section">
            <button [disabled]="LoginForm.invalid" (click)="OnSubmit()" type="submit"> Login </button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>