
<div class="container mt-3">
    <h1>Course Details</h1>
    <table class="table">
    <thead>
    <th> SL Number </th>
    <th> Category</th>
    <th> File </th>
    </thead>
    <tr *ngFor="let item of Dataarray let i=index" class="table-primary">
    <td> {{i+1}} </td>
    <td> {{item.category}}</td>
    <td> {{item.videofile}} </td>
    <!-- <td><a [routerLink]="['/adminhome/editcourse',item.courseid]">Edit</a></td>
    <td><a [routerLink]="['adminhome/deletecourse',item.courseid]">Delete</a></td> -->
    </tr>
    </table>
    </div>