<!DOCTYPE html>
<html lang="en">
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family:'Times New Roman', Times, serif, sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
label{font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
</style>
</head>
<body>
    <nav class="navbar navbar-light" style="background-color:#1fa2ff;">
        <div class="top">
            <a class="top-link"><a class="w3-bar-item w3-button w3-padding-large" [routerLink]="['/userhome']">Go Back</a></a>
            <a class="top-link"><a class="w3-bar-item w3-button w3-padding-large" [routerLink]="['/Home']">V-TUBE</a></a>
            <a class="top-link"><a class="w3-bar-item w3-button w3-padding-large" [routerLink]="['/Login']">Logout</a></a>
        </div>
    </nav>
<div class="head"><h2 style="color:#1fa2ff;">Edit Your Record</h2></div>
<div class="box">
    <form action="" [formGroup]="EditDescForm">
        <label class="form-label" style="color: maroon;" for="FirstName">Category</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" placeholder="Category Name"formControlName="CategoryName"> <br><br>
        <label class="form-label" style="color: maroon;" for="FirstName">Description</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" placeholder="Your tips.."formControlName="description"><br><br>
        <div class="register-button mt-2 pt-2">
            <button type="submit" (click)="OnSubmit()">Update</button>
        </div>
        <div class="delete-button mt-2 pt-2">
            <button type="submit" (click)="Onsubmitdelete()">Delete</button>
    </div>
    </form>
    <header class="w3-center" style="padding:-10px -20px">
        <p><img src="{{ imageSrc }}" /></p>
      </header>
</div>

  <footer class="w3-container w3-padding-10 w3-center w3-opacity">  
   <p>Copyright@V-TUBE:)</p>
  </footer>
</body>
</html>
